// Colors
$color-magenta: #a4508b;
$color-indigo: #4f0a87;
$color-yellow: #FDE74C; 
$color-dark: #222;
$color-dark-transparent: #222222AA;
$color-magenta-transparent: #a4508bAA;
$color-indigo-transparent: #4f0a87AA;
